In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pickle
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np

#wirite ML-model to model_pickle file
#with open('model_pickle', 'wb') as f:
#    pickle.dump(model, f)

#save DL-model with keras.models.save_model
#tf.keras.models.save_model(model, export_path,overwrite=True,include_optimizer=True,
#    save_format=None, signatures=None,    options=None)

#MODEL_DIR='/content/drive/My Drive/master_project/CNN_Model.h5' #todo: get it from database?

In [ ]:
import enum
# Using enum class create enumerations
class Data_type(enum.Enum):
   ECG=0
   BLOODCELL=1

class ML_type(enum.Enum):
  DL=0
  ML=1

In [ ]:
class Modeling():
  
  def __init__(self,data_type,ML_type):
    self.data_type=data_type
    self.ML_type=ML_type
    #print(self.data_type)
    #print(self.ML_type)
    self.model=self.load_model()
    

  def load_model(self):    
      MODEL_DIR=self.get_model_path() #store in database?
      #print(MODEL_DIR)
      if self.ML_type==ML_type.DL:
      # loading DL model 
        return load_model(MODEL_DIR) 
      #read Machine Learning model from model_pickle file
      if ML_type==ML_type.ML:
        with open(MODEL_DIR, 'rb') as f:
          return pickle.load(f)    

  def get_model_path(self):
    #todo: get it from database?
    if self.data_type==Data_type.ECG:
      return '/content/drive/My Drive/master_project/ECG_Model.h5' 
    if self.data_type==Data_type.BLOODCELL:
      return '/content/drive/My Drive/master_project/Blood_Cell_Model.h5'

  def model_predict(self,df):
    """
    to predict the input df

    """
    return self.model.predict(df)

In [ ]:
model=Modeling(Data_type.ECG,ML_type.DL)

Data_type.ECG
ML_type.DL
/content/drive/My Drive/master_project/ECG_Model.h5

In [ ]:
model.model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_12 (Conv1D)           (None, 30000, 4)          1264
_________________________________________________________________
average_pooling1d_9 (Average (None, 7500, 4)           0
_________________________________________________________________
conv1d_13 (Conv1D)           (None, 7500, 16)          1488
_________________________________________________________________
average_pooling1d_10 (Averag (None, 1875, 16)          0
_________________________________________________________________
conv1d_14 (Conv1D)           (None, 1875, 32)          12832
_________________________________________________________________
average_pooling1d_11 (Averag (None, 235, 32)           0
_________________________________________________________________
conv1d_15 (Conv1D)           (None, 235, 64)           55360
_________________________________________________________________
flatten_3 (Flatten)          (None, 15040)             0
_________________________________________________________________
dense_6 (Dense)              (None, 128)               1925248
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_7 (Dense)              (None, 13)                1677
=================================================================
Total params: 1,997,869
Trainable params: 1,997,869
Non-trainable params: 0
_________________________________________________________________

In [ ]:
symbol_names=['i','ii','iii','avr','avl','avf','v1','v2','v3','v4','v5','v6','vx','vy','vz']
data_path='/content/drive/My Drive/physionet.org/files/ptbdb/'
def read_data_json(f,symbol_names): 
  df_read=pd.read_json(f)
  for symbol in symbol_names:
    df_read[symbol]=df_read[symbol].apply(np.array)
  return df_read

In [ ]:
symbol_names=['i','ii','iii','avr','avl','avf','v1','v2','v3','v4','v5','v6','vx','vy','vz']
data_path='/content/drive/My Drive/physionet.org/files/ptbdb/'
def str_to_array(str_data):
  num_list=[]
  str_list=str_data.split(" ")
  for i in range(len(str_list)-1):
    num_list.append(float(str_list[i]))  
  return np.array(num_list)

def read_data_csv(f,symbol_names): 
  df_read=pd.read_csv(f,index_col=0)
  for symbol in symbol_names:
    df_read[symbol]=df_read[symbol].apply(str_to_array)
  return df_read

In [ ]:
%cd /content/drive/My Drive/physionet.org/files/ptbdb/

/content/drive/My Drive/physionet.org/files/ptbdb

In [ ]:
!ls

1.0.0		   1.0.0data_all.csv   1.0.0data_group3.json  data_all.json
1.0.0data_41.json  1.0.0data_all.json  data_41.json	      data_group3.csv

In [ ]:
data_read_from_csv=read_data_csv(data_path+'data_group3.csv',symbol_names)

In [ ]:
clean_data=data_read_from_csv[symbol_names].reindex()

In [ ]:
clean_data.head()

                                                     i  ...                                                 vz
0    [-0.24450000000000002, -0.24250000000000002, -...  ...  [-0.009000000000000001, -0.01, -0.0085, -0.008...
1    [-0.47400000000000003, -0.444, -0.4555, -0.462...  ...  [0.9675, 0.9645, 0.961, 0.963, 0.962, 0.9595, ...
2    [0.254, 0.263, 0.2755, 0.28, 0.3035, 0.305, 0....  ...  [0.029, 0.024, 0.0245, 0.0275, 0.028, 0.0205, ...
316  [0.031, 0.029, 0.03, 0.0275, 0.029500000000000...  ...  [0.0095, 0.0095, 0.006500000000000001, 0.00750...
317  [-0.658, -0.66, -0.6575000000000001, -0.652, -...  ...  [0.5455, 0.5215000000000001, 0.503, 0.491, 0.4...

[5 rows x 15 columns]

In [ ]:
#create a new shape of the data
temp=[]
for i in clean_data.index:    
    for k in range(30000):
      for name in symbol_names:
        temp.append(clean_data[name][i][k])
frames=np.array(temp).reshape(clean_data.shape[0],30000,len(symbol_names))

In [ ]:
preds=model.model_predict(frames)

In [ ]:
np.argmax(preds[0])

3